body{
    height:100vh;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin:0px;
    padding:0px;
    background-image: url("./images/bg-pattern-bottom-desktop.svg"),url("./images/bg-pattern-top-desktop.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: right bottom 50px ,left 100px top;
    
    

}
p{
    font-size:15px;
}


.top-grid{
    display:grid;
    grid-template-columns: 1fr 540px;
}

.header{
    font-family:'League Spartan';
    font-weight: 700;
    
    color:hsl(300, 43%, 22%);
    
    
}
.header-info{
    font-family: 'League Spartan';
    color:hsl(306, 30%, 58%);
    max-width:380px;
    line-height:1.5;
    font-weight:500;
}

.box-1{
    
    height:50px;
    background-color:hsl(300, 24%, 96%);
    text-align: center;
    display:flex;
    align-items: center;
    height:40px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:10px;
    margin-top:40px;
    
}
.box-1 img{
    height:50%;
}
.box-images{
    margin-right:30px;
    margin-left:40px;
}
.rated-text{
    margin-right:40px;
    font-family:"League Spartan";
    font-weight:700;
    color: hsl(300, 43%, 22%);
}
.rating-box{
    
    max-width:600px;
    
}
.box-2{
    height:50px;
    background-color:hsl(300, 24%, 96%);
    text-align: center;
    display:flex;
    align-items: center;
    height:40px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:10px;
    margin-top:10px;
    margin-left:60px;
}
.box-3{
    height:50px;
    background-color:hsl(300, 24%, 96%);
    text-align: center;
    display:flex;
    align-items: center;
    height:40px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius:10px;
    margin-top:10px;
    margin-left:120px;
}
.bottom-grid{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.block-1{
    background-color:hsl(300, 43%, 22%);
    padding:30px 30px 30px 30px;
    border-radius:15px;
    margin-right:20px;
    margin-bottom:20px;
    margin-top:50px;
    height:180px;
}

.block-1 img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.profile-and-name{
    display:flex;
    align-items: center;
    margin-left:20px;
}
.name-and-status{
    margin-left:20px;
    color:white;
    font-family:"League Spartan";
    font-weight:600;
    line-height: 1.2;
    
}
.name-and-status span{
    color:hsl(333, 52%, 56%);
}
.info-profile{
    
    margin-left:20px;
    font-family:"League Spartan";
    color:white;
    max-width:265px;
    line-height:1.6;
    
}
.block-2{
    background-color:hsl(300, 43%, 22%);
    padding:30px 30px 30px 30px;
    border-radius:15px;
    margin-right:20px;
    margin-top:100px;
    height:180px;
    
}
.block-2 img{
    width:50px;
    height:50px;
    border-radius:50%;
}
.block-3{
    background-color:hsl(300, 43%, 22%);
    padding:30px 30px 30px 30px;
    border-radius:15px;
    margin-right:20px;
    margin-top:150px;
    height:180px;
}
.block-3 img{
    width:50px;
    height:50px;
    border-radius:50%;
}
@media (max-width:960px){
    .top-grid{
        grid-template-columns: 1fr;
    }
    .bottom-grid{
        grid-template-columns: 1fr;
    }
    .header-container{
        text-align: center;
        margin-top:50px;
    }
    .box-1{
        display:block;
        margin-bottom:20px;
    }
    .box-2{
        margin-left:0px;
        display:block;
        margin-bottom:20px;
    }
    .box-3{
        display:block;
        margin-left:0px;
        margin-bottom:20px;
    }
    .rated-text{
        margin-left:40px;
        margin-top:5px;
    }
    .block-1{
        margin-bottom:0px;
    }
    .block-2{
        margin-top:20px;
    }
    .block-3{
        margin-top:20px;
    }
    body{
        padding-bottom:600px;
        background-image: url("./images/bg-pattern-top-mobile.svg"),url("./images/bg-pattern-bottom-mobile.svg");
        background-position: left 120px top, bottom  120px right;
        background-repeat: no-repeat,no-repeat;
    }
    
}